<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mbot_gazebo)/worlds/mbot.world"/>
  </include>

  <arg name="model" default="$(find mbot_description)/xacro/mbot.xacro"/>
  <param name="robot_description" command="rosrun xacro xacro '$(arg model)'" />

  <!-- http://wiki.ros.org/joint_state_publisher -->
  <param name="value" command="rosrun xacro xacro '$(arg model)'" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="rate" value="10"/>
  </node>

  <!-- http://wiki.ros.org/robot_state_publisher/Tutorials/Using%20the%20robot%20state%20publisher%20on%20your%20own%20robot -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
  </node>

  
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-param robot_description  -urdf -x 0 -y 0 -z 1 -model mbot" /> 

  <!--  <arg name="model_urdf" default="$(find mbot_description)/urdf/mbot.urdf"/> -->
  <!--  <param name="robot_description" value="$(arg model_urdf)" /> -->
  <!--  <param name="robot_description" default="$(find mbot_description)/urdf/h-bot-v02.urdf" /> -->

  <!-- tf broadcaster | static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms)-->
  <!-- Workaround for https://answers.ros.org/question/53784/simulated-kinect-rotation-around-x-bug/ -->
  <node pkg="tf" type="static_transform_publisher" name="depth_correction_broadcaster" args="0.15 0 0.05 1.57 0 -1.57  head camera_link 100" />
</launch>